
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;

}

#header {
    width: 750px;
    margin: 0 auto;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px,0;
}
 #header h1 {
    font-size:24px;
 }
  #menu {
    display: flex;;
  }
  #menu  ul {
    list-style: none;
    display:flex;
    gap: 10px;
  }
  #menu li a {
    text-decoration: none;
    color: #fff;
    background-color: #777; 
    padding: 20px;
    display: inline-block;
  }
  #menu li a:hover {
    background-color: #000;
  } 
  #hero {
    width: 750px;
    margin: 0 auto;
    background-color: #999;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
   #hero h2 {
    font-size: 18px;
    margin-top: 10px;
   }
   #gallery {
    width: 750px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
  } 

  .card {
    text-align: center;;
  }
 
  .card img {
    width: 240px;
    height:180px;
    display:block;
    margin: 0 auto;
  }
  .card h3 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  #footer { 
    width:750px;
    margin:0 auto;
    background-color: #999;
    padding: 30px;
    text-align: center;
  } 

  #footer button {
    padding: 10px 20 px;
    font-weight: bold;
    border: 2px solid #000;
    background-color: #fff;
    cursor: pointer;

  }
